@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./font.css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: 'Aeonik';
}

html,
body {
  padding: 0;
  margin: 0;
  font-style: normal;
  scroll-behavior: smooth;
}

.bg-add-file {
  background-color: rgba(255, 233, 225, 0.25);
}

.list-file::-webkit-scrollbar {
  width: 5px;

}

/* Track */
.list-file::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

/* Handle */
.list-file::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;

}

.list-file::-webkit-scrollbar-thumb:window-inactive {
  background: #E0E0E4;

}